.footerBtn{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
.footerBtn:hover{
    color: aliceblue;
    text-decoration: none;
}

.footer{
    padding-top: 2%;
    padding-bottom:2%;
    
    
}
.footer hr{
    width:70%;
    border-top: 1px solid rgb(254, 254, 254);
    /* margin-top: 90px;
    padding: 20px */
 
  }

  .copyright {
      color: rgb(45, 121, 131);
      font-size: 20px;
      
  }
