.home-comp{
    height: 500px;
    padding-top: 4%;
    padding-bottom: 7%;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Lusitana', serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Contrail One', cursive;
    font-family: 'Palanquin', sans-serif;
    font-family: 'Itim', cursive;
   
    

}
.btn{
    margin-top: 50px;
    padding-top: 130px;

}
.startBtn{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poiret One', cursive;  
    
}
.startBtn:hover{
    color: rgba(25, 112, 122, 0.637);
    text-decoration: none;
}

.qute{

    font-family: 'Poiret One', cursive;
    font-size: 40px;
   
}

.qute2{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}